.camera-content {
  --background: transparent;
}

.camera-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  object-fit: cover;
}

.overlay-square {
  position: absolute;
  top: 50%; left: 50%;
  width: 60vw; height: 60vw;
  max-width: 300px; max-height: 300px;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  border-radius: 12px;
}

.captured-image {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  object-fit: cover;
  opacity: 0.8;
  transition: opacity 0.3s;
  pointer-events: none;
}

.flash {
  animation: flashAnim 0.5s ease-out;
}

@keyframes flashAnim {
  from { opacity: 1; }
  to   { opacity: 0.8; }
}

.loading-container {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.6);
  color: white;
  border-radius: 10px;
  padding: 6px 12px;
}


ion-fab[vertical="bottom"][horizontal="end"] {
  bottom: 100px !important; // más arriba y separado del botón central
}


ion-fab[vertical="bottom"][horizontal="center"] {
  bottom: 100px !important; // más arriba y separado del botón central
}

.custom-loading::part(backdrop) {
  background: rgba(0, 0, 0, 0.4);
}

.custom-loading::part(message) {
  color: white;
  font-size: 16px;
}
