<div class="centered-container">
  <div class="container">
    <div class="heading">Inicia Sesion</div>
    <form action="" class="form">
      <!-- Input de correo -->
      <div class="input-container">
        <div class="input-wrapper">
          <ion-icon name="mail-outline" class="input-icon"></ion-icon>
          <input class="input" type="email" [(ngModel)]="username" id="email" placeholder="Email" name="email">
        </div>
        <div *ngIf="errors.username" class="invalid-feedback">{{ errors.username }}</div>
      </div>
      
      <!-- Input de contraseña -->
      <div class="input-container">
        <div class="input-wrapper">
          <ion-icon name="lock-closed-outline" class="input-icon"></ion-icon>
          <input class="input" type="{{type}}" [(ngModel)]="password" id="show-password" name="password_user" placeholder="Contraseña" (keyup.enter)="login()">
          <ion-icon 
            [name]="type === 'password' ? 'eye-outline' : 'eye-off-outline'" 
            class="password-toggle"
            (click)="showPassword()">
          </ion-icon>
        </div>
        <div *ngIf="errors.password" class="invalid-feedback">{{ errors.password }}</div>
      </div>
      
      <!-- Enlace de registro -->
      <span class="forgot-password"><a href="register">Registrate</a></span>
      <button class="login-button" type="submit" (click)="login()">Iniciar sesión</button>
    </form>
  </div>
</div>
