<ion-content class="main-container">

  <!-- Refresher simple -->
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Título -->
  <div class="top">
    <h1 class="title">Historial de Escaneos</h1>
  </div>

  <!-- Spinner si carga -->
  <ion-spinner *ngIf="loading && scans.length === 0" name="crescent" class="center-spinner"></ion-spinner>

  <!-- Tabla -->
  <div *ngIf="!loading" class="scan-table">
    <div class="scan-header">
      <div>Imagen</div>
      <div>Alimento</div>
      <div>Fecha</div>
    
    </div>

    <div *ngFor="let scan of scans" class="scan-row" (click)="goVerDetalle(scan)">
      <div class="cell image-cell">
        <ion-img [src]="fullImageUrl(scan.image)" [alt]="'Foto de ' + scan.food_name"></ion-img>
      </div>

      <div class="divider"> <h1></h1></div>
      <div class="cell name-cell">{{ scan.food_name | titlecase }}</div>
      <div class="cell date-cell">{{ scan.timestamp | date:'shortDate' }}</div>
      
    </div>
  </div>

  <!-- Infinite Scroll -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
